# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Virtual environments
env/
venv/
ENV/
env.bak/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (caso adicione no futuro)
.ipynb_checkpoints/

# Arquivos temporários
*.swp
*.tmp
*.bak

# Arquivos de testes
*.test.py

